// Font Styles
@font-face {
    font-family: 'ProximaNova';
    src: url('assets/fonts/ProximaNova.eot');
    src: local('☺'), url('assets/fonts/ProximaNova.woff') format('woff'), url('assets/fonts/ProximaNova.ttf') format('truetype'), url('assets/fonts/ProximaNova.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Common CSS
.no-padding{
    padding: 0;
}
.padding-tb{
    padding: 40px 0;
}

%style-main-title{
    color: #000;
    font-size: 26px;
    font-weight: 600;
}

%style-for-p{
    color: #000;
    font-size: 16px;
    line-height: normal;
}